In [1]:
import matplotlib.pyplot as plt
import numpy as np
from scipy.signal import convolve2d as conv2d
import time
import pandas as pd

In [33]:
x1 = np.zeros((12,12))
x1[0,:] = 1
x1[-1,:] = 1
x1[-2,:] = 1
x1[:, 0] = 1
x1[:,-1] = 1
x1[:, 1] = 1
x1[:, -2] =1

In [34]:
x2 = np.array([1,1,0,1,1,1,0,1,0,1,1,0,
     0,0,0,0,0,1,0,0,0,1,1,1,
    0,1,0,1,1,1,1,1,0,1,1,0,
    1,0,1,1,1,0,0,0,0,0,0,0,
    1,1,0,1,0,1,0,0,1,1,0,0,
    0,1,0,1,1,0,0,1,0,0,1,0,
    0,0,0,0,0,1,1,1,1,1,1,1,
    0,1,1,0,0,0,1,1,1,1,0,0,
    0,1,1,1,0,1,1,0,1,0,0,1,
    0,1,0,0,0,0,0,0,0,1,1,1,
    0,1,0,1,1,1,0,1,1,0,1,0,
    0,1,0,0,0,1,0,1,1,1,0,1]).reshape((12,12))

In [31]:
def lac_calc_table(x, r):
    r = box 
    S = occupancy = np.array([i for i in range(0, (box**2) + 1)])
    
    '''
    a =  np.ravel(conv2d(x2, np.ones((box, box)), mode = 'valid'))
    count = np.array([sum(a.ravel()==i) for i in range(0,box**2 + 1)])
    '''
    count, edge= np.histogram(np.ravel(conv2d(x, np.ones((box, box)), mode = 'valid')), bins = [i for i in range(0, (box**2) + 2)])
    N_r =  (x.shape[0] - r + 1)**2
    q = count/N_r
    sq = S*q
    s2q = S*S*q
    z1 =  sum(sq)
    z2 = sum(s2q)
    lambda_ = z2/(z1**2)
    df = pd.DataFrame({'S':S,
                   'n(S,r)':count,
                   'Q(S,r)':q,
                    'SQ(S,r)':sq,
                    'S2Q(S,r)':s2q})
    
    print('box size r = ' ,r)
    print('lambda', lambda_)
    
    return df

In [32]:
lac_calc_table(x2, 2)

box size r =  2
lambda 1.2156784982483975

   S  n(S,r)    Q(S,r)   SQ(S,r)  S2Q(S,r)
0  0       3  0.024793  0.000000  0.000000
1  1      35  0.289256  0.289256  0.289256
2  2      46  0.380165  0.760331  1.520661
3  3      29  0.239669  0.719008  2.157025
4  4       8  0.066116  0.264463  1.057851